[Desktop Entry]
Version=1.0
Type=Application
Name=NetBeans
Comment=NetBeans IDE
Exec=/opt/netbeans/bin/netbeans
Icon=/opt/netbeans/nb/netbeans.png
Terminal=false
Categories=Development;IDE;
MimeType=text/plain;
StartupNotify=true

